<!-- Footer -->
<footer class="page-footer font-small bg-dark pt-4">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">

        <li class="list-inline-item">
          <a class="btn btn-social-icon btn-linkedin" href="https://br.linkedin.com/in/filipe-reis-francisco">
            <i class="fa fa-linkedin fa-2x"> </i>
          </a>
        </li>
        <li class="list-inline-item">
            <a class="btn btn-social-icon " href="https://github.com/ReisFilipe">
              <i class="fa fa-github fa-2x"> </i>
            </a>
          </li>
      </ul>
      <!-- Social buttons -->
      <div class="template-demo"> <button type="button" class="btn btn-social-icon btn-facebook">
    
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://github.com/ReisFilipe"> Filipe Reis</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->