<!--Main Navigation-->
<header>
	<title>Manutenção SEFAZ</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->	
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.ico') }}"/>
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/perfect-scrollbar/perfect-scrollbar.css') }}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <!--===============================================================================================-->


    <nav class="navbar navbar-expand-sm bg-dark navbar-dark ">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/"> <span class="sr-only">(current)</span>
                    <img src="static/images/icons/favicon.ico" alt="Logo" style="width:40px;">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Opinions</a>
            </li>
            </ul>
            <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/ReisFilipe"><i class="fa fa-github"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://br.linkedin.com/in/filipe-reis-francisco"><i class="fa fa-linkedin"></i></a>
            </li>
            </ul>
        </div>
     </nav>
  
  </header>
  <!--Main Navigation-->