<!DOCTYPE html>
<html lang="pt-BR">

{% include "header.html" %}

<body>
	
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
					<div class="table">

						<div class="row header">
							<div class="cell">
								Informação
							</div>
							<div class="cell">
								Quantidade de Horas
							</div>
							<div class="cell">
								Mês
							</div>
							<div class="cell">
								Situação
							</div>
						</div>

						{% for result in data %}
							<div class="row">
								<div class="cell" data-title="Informação">
									{{ result.par_informacao }}
								</div>
								<div class="cell" data-title="Quantidade de Horas">
									{{ result.par_qtde_horas }}
								</div>
								<div class="cell" data-title="Mês">
									{{ result.par_mes }}
								</div>
								<div class="cell" data-title="Situação">
									{{ result.par_situacao }}
								</div>
							</div>
						{% else %}
							<li><em>No entries yet. Add some!</em></li>
						{% endfor %}

					</div>
			</div>
		</div>
	</div>


<!--===============================================================================================-->	
	<script src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
{% include "footer.html" %}
</html>